.view-page {
  position: fixed;
  top: 40px;
  left: 50px;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
}

.content {
  width: 100%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
}

.source-icon {
  position: absolute;
  top: 10px;
  right: 15px;
  height: 25px;
  width: 25px;
  opacity: 0.6;
}

.source-icon:hover {
  cursor: pointer;
}

.view-editor {
  width: 60%;
  display: flex;
  flex-wrap: wrap;
}

.view-editor > * {
  width: 100%;
}

@media (min-width: 1200px) {
  .view-editor {
    width: 80%;
  }
  .view-editor > * {
    width: 50%;
  }
}

.column {
  display: flex;
  flex-direction: column;
}

.image-container {
  height: 250px;
  width: 250px;
  border: 1px solid white;
}

.image-overlay {
  position: absolute;
  height: 250px;
  width: 250px;
  opacity: 0;
}

.image-overlay:hover {
  opacity: 1;
}

.close-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  height: 25px;
  width: 25px;
  opacity: 0.6;
}

.close-icon:hover {
  cursor: pointer;
}

.image {
  position: absolute;
  height: 250px;
  width: 250px;
}

.ingredient {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 30px;
}

.ingredient-amount {
  margin-left: 10px;
}

.ingredient-unit {
  margin-left: 3px;
}

.ingredient-name {
  margin-left: 3px;
}

.direction {
  margin-top: 0;
  margin-bottom: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 30px;
  gap: 10px;
}

.note {
  margin-top: 0;
  margin-bottom: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 30px;
  gap: 10px;
}

input {
  text-align: left;
  color: white;
}

input:focus {
  outline: none;
}

.title-input {
  font-size: 26px !important;
  font-weight: bold !important;
  margin-bottom: 10px;
}

.description-input {
  margin-top: 20px;
  margin-bottom: 10px;
}

.upload-icon {
  height: 25px;
  width: 25px;
  opacity: 0.6;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.upload-icon:hover {
  cursor: pointer;
}
