.properties {
  width: 80%;
}

.grid-container {
  display: grid;
  grid-template-columns: 110px auto;
  column-gap: 10px;
  row-gap: 1px;
  background: repeating-linear-gradient(
    to bottom,
    transparent 0 36px,
    rgb(235, 235, 245, 0.6) 0 37px /* 48px = 36px height + 1px border */
  );
  width: fit-content;
}

.grid-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 36px;
}

.grid-item > input {
  width: 100%;
}

.icon {
  opacity: 0.6;
  height: 25px;
  width: 25px;
}

.label {
  position: relative;
  left: 10px;
}

.tag {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #353535;
  height: 25px;
  border-radius: 25px;
  gap: 10px;
  padding-left: 15px;
  padding-right: 15px;
}

.remove-icon {
  opacity: 0.6;
  height: 15px;
  width: 15px;
}

.remove-icon:hover {
  cursor: pointer;
}

.tag-input {
  width: auto;
}

.tags {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  margin-right: 10px;
}

.tag-text {
  white-space: nowrap;
}

.source {
  height: 100%;
  width: 100%;
  white-space: nowrap;
  overflow-x: scroll;
  padding-top: 15px;
}

.source::-webkit-scrollbar {
  display: none;
}
