.grid-item {
  position: relative;
  height: 200px;
  width: 150px;
  background: #353535;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

.grid-item:hover {
  cursor: pointer;
  background: #454545;
}

.grid-item-image {
  position: absolute;
  height: 150px;
  width: 150px;
  border-radius: 5px 5px 0px 0px;
  object-fit: cover;
}

.grid-item-data {
  position: absolute;
  top: 150px;
  bottom: 0;
  width: 100%;
}

.grid-item-title {
  font-weight: bold;
  font-size: 12px;
  position: absolute;
  left: 5px;
  top: 3px;
  right: 30px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.grid-item-tags {
  position: absolute;
  left: 5px;
  bottom: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.grid-item-tag {
  font-size: 9px;
  font-weight: bold;
  background-color: #282828;
  border-radius: 5px;
  width: fit-content;
  padding-left: 5px;
  padding-right: 5px;
  line-height: 15px;
}

.more-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  height: 15px;
  width: 15px;
}

.more-icon:hover {
  cursor: pointer;
}

.grid-item-image-placeholder {
  position: absolute;
  height: 150px;
  width: 150px;
  border-radius: 5px 5px 0px 0px;
  background-color: #282828;
  /* text in center */
  display: flex;
  justify-content: center;
  align-items: center;
}

.more-dropdown-container {
  z-index: 1;
  position: absolute;
  top: 50%;
  left: calc(100% - 10px);
}
