.title-bar {
  background-color: #1e1e1e;
  user-select: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow-y: hidden;
}

.create-icon {
  position: relative;
  left: 75px;
  width: 25px;
  height: 25px;
  opacity: 0.6;
}

.create-icon:hover {
  cursor: pointer;
}

.tab {
  position: relative;
  left: 90px;
  top: 5px;
  width: 200px;
  height: 35px;
  display: flex;
  align-items: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-right: 5px;
}

.active-tab {
  background-color: #2f2f2f;
}

.inactive-tab {
  background-color: #1e1e1e;
}

.inactive-tab:hover {
  background-color: #2f2f2f;
}

.tab-label {
  position: absolute;
  left: 15px;
  font-size: 14px;
  right: 30px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.close-icon {
  position: absolute;
  right: 10px;
  height: 20px;
  width: 20px;
  opacity: 0.6;
}

.close-icon:hover {
  cursor: pointer;
}
