.source-page {
  position: fixed;
  top: 40px;
  left: 50px;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
}

.source-editor-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.json-editor {
  width: 700px;
  height: 100%;
}

.view-icon {
  position: absolute;
  top: 10px;
  right: 15px;
  height: 25px;
  width: 25px;
  opacity: 0.6;
}

.view-icon:hover {
  cursor: pointer;
}

.json-input {
  width: 100%;
  height: 100%;
  font-size: 14px;
  font-family: monospace;
  border: none;
  outline: none;
  resize: none;
  padding: 10px;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0);
  color: #fff;
}
