.dialog {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #282828;
  width: 600px;
  height: 300px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  padding-top: 50px;
  padding-bottom: 50px;
}

.back-icon {
  position: absolute;
  top: 15px;
  left: 15px;
  width: 25px;
  height: 25px;
  opacity: 0.6;
}

.back-icon:hover {
  cursor: pointer;
}

.dialog-options {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: left;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: #464646;
  margin: 10px 0;
}

.dialog-option {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
}

.dialog-option-text {
  left: 0px;
  display: flex;
  flex-direction: column;
  font-weight: bold;
}

.dialog-option-title {
  font-size: 13px;
}

.dialog-option-description {
  font-size: 11px;
  color: #ebebf5;
  opacity: 0.6;
}

.dialog-option-spacer {
  flex-grow: 1;
}

.dialog-option-button {
  right: 0;
  width: 100px;
  height: 25px;
  border-radius: 10px;
  background-color: #1e1e1e;
  border: none;
  color: #ebebf5;
  font-weight: bold;
}

.dialog-option-button:hover {
  background-color: #464646;
  cursor: pointer;
}

.dialog-option-header {
  font-weight: bold;
}

.dialog-option-footer {
  width: 100%;
}

.create-button {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 20px;
}

.dialog-option-input {
  background-color: #3f3f3f;
  border-radius: 5px;
  padding-left: 10px;
  height: 25px;
  font-size: 13px !important;
}

.spacer {
  flex-grow: 1;
}
